body {
    background-color: #f8f9fa;
}

h1 {
    font-weight: 700;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
/* card hover */
.card {
    cursor: pointer;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
/* button hover */
.btn-primary {
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0d6efdcc;
    transform: translateY(-3px);
}


